.nav--admin{
  @include nav;
  .nav_care_home_post{
    @include nav-menu;
    width: 25%;
    border-right: solid 1px $off-color;
  }
  .nav_family_room{
    @include nav-menu;
    width: 25%;
    border-right: solid 1px $off-color;
  }
  .nav_user_settiong{
    @include nav-menu;
    width: 25%;
    border-right: solid 1px $off-color;
  }
  .nav_sign_out{
    @include nav-menu;
    width: 25%;
  }
}

.nav--general{
  @include nav;
  .nav_care_home_post{
    @include nav-menu;
    border-right: solid 1px $off-color;
  }
  .nav_family_room{
    @include nav-menu;
    border-right: solid 1px $off-color;
  }
  .nav_sign_out{
    @include nav-menu;
  }
}

.care_home_posts_search{
  @include search_form;
  right: 35%;
  .search_btn{     
    @include other_room_search_btn;
  }
}

.post_main{
  height: 100%;
  width: 100%;
  margin-top: 200px;
  .post_index{
    .posts{
      height: 100%;
      width: 60%;
      margin: 0 auto;
      padding: 50px 0; 
      box-sizing: border-box;
      background-color: $main-rgba;
      .post{
        width: 80%;
        margin: 0 auto 10px;
        padding: 10px 0;
        background-color: $off-color;
        display: block;
        &__image{
          width: 80%;
          margin: 0 auto;
          padding-top: 10px;
          box-sizing: border-box;

          img{
            width: 100%;      
          }
        }
        &__title{
          width: 80%;
          margin: 10px 10% 0 10%;
          font-size: 16px;
          word-wrap: break-word;
        }
        &__creater_at{
          height: 18px;
          width: 20%;
          margin: 10px 0 0 80%;
          font-size: $base-font-size;
          color: #59e2e2;
        }
        &__edit{
          height: 20px;
          width: 8%;
          margin-left: 82%;
          display: block;
          border-radius: 10px;
          background-color:  $main-color;
          color: $off-color;
          font-size: $head-font-size;
          text-align: center;

        }
      }
    }
  }
}

.post_form{
  height: 60px;
  width: 50%;
  position: absolute;
  position: fixed;
  bottom: 15px;
  right: 1%;
  border-radius: 5px;
  background-color: $sub-color;
  z-index: 2;
  padding: 15px 1%;
  box-sizing: border-box;
  &_inner{
    @include post_form_inner;
  }
}

.edit_post_main{
  height: calc(100% - 120px);
  width: 100%;
  margin-top: 120px;
  .edit_post{
    width: 60%;
    background-color: $main-rgba;
    margin: 0 auto;
    border-radius: 20px;
    padding: 50px 5%;
    box-sizing: border-box;
    .edit_post_image_area{
      width: 80%;
      margin: 0 auto;
      .edit_post_image{
        width: 100%;
      }
      img{
        width: 100%;
      }
    }
    .edit_posts_form_inner{
      height: 30px;
      width: 100%;
      margin-top: 20px;
      position: relative;
      form{
        height: 100%;
        width: 100%;
        .post_form_inner__title{
          height: 30px;
          width: 89%;
          background-color: $off-color;
          padding: 0 8% 0 1%;
          font-size: $base-font-size;
        }
        .post_form_inner__image--btn{
          display: none;
        }
        .post_form_inner__image--icon{
          position: absolute;
          right: 14%;
          bottom: 6px;
          cursor:pointer
        }
        .post_form_inner__submit{
          height: 30px;
          width: 9%;
          font-size: $base-font-size;
          background-color: $sub-color;
        }
      }
    }
  }
}

