.nav--admin{
  @include nav;
  .nav_care_home_post{
    @include nav-menu;
    width: 25%;
    border-right: solid 1px $off-color;
  }
  .nav_family_room{
    @include nav-menu;
    width: 25%;
    border-right: solid 1px $off-color;
  }
  .nav_user_settiong{
    @include nav-menu;
    width: 25%;
    border-right: solid 1px $off-color;
  }
  .nav_sign_out{
    @include nav-menu;
    width: 25%;
  }
}

.nav--general{
  @include nav;
  .nav_care_home_post{
    @include nav-menu;
    border-right: solid 1px $off-color;
  }
  .nav_family_room{
    @include nav-menu;
    border-right: solid 1px $off-color;
  }
  .nav_sign_out{
    @include nav-menu;
  }
}

.care_home_posts_search{
  @include search_form;
  right: 35%;
  .search_btn{     
    @include other_room_search_btn;
  }
}

.post_main{
  height: 100%;
  width: 100%;
  margin-top: 200px;
  .post_index{
    .posts{
      height: 100%;
      width: 60%;
      margin: 0 auto;
      padding: 50px 0; 
      box-sizing: border-box;
      background-color: $main-rgba;
      .post{
        width: 80%;
        margin: 0 auto 10px;
        padding: 10px 0;
        background-color: $off-color;
        display: block;
        &__image{
          width: 80%;
          margin: 0 auto;
          padding-top: 10px;
          box-sizing: border-box;
          img{
            width: 100%;      
          }
        }
        &__title{
          width: 80%;
          margin: 10px 10% 0 10%;
          font-size: 16px;
          word-wrap: break-word;
        }
        &__creater_at{
          height: 18px;
          width: 20%;
          margin: 10px 0 0 80%;
          font-size: $base-font-size;
          color: #59e2e2;
        }
      }
    }
  }
}

.care_home_post_form{
  height: 90px;
  padding: 0 1% 15px;
  @include post_form;
}

.attention_for_recruit{
  font-size: 14px;
  color: red;
}
