// Place all the styles related to the family_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-box{
  margin-top: 100px;
}
.input-box__submit{
  width: 200px;
}

.bx-wrapper {
  margin: 100px !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}

.bx-viewport img{
  width: auto !important;
  height: 70vh !important;
  margin: auto;
  background-color: red;
}