.session_main{
  height: 100%;
  width: 100%;
  position: relative;
  .session_bg{
    height: 100%;
    width: 100%;
    /* 画像ファイルの指定 */
    background-image: url(916558f15c269cfaa8da7be2b21cae05_m.jpg);
    opacity: 0.2;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    z-index: 1;
  } 
  .session_form{
    height: 400px;
    width: 400px;
    position: absolute;
    right: 120px;
    top: 120px;
    z-index: 2;
    background-color: $back-color;
    border-radius: 5px;
    box-sizing: border-box;
    &__inner{
      width: 300px;
      margin: 20px auto;
      font-size: 12px;
      h2{
        height: 22px;
        width: 100%;
        font-size: $head-font-size;
        line-height: 22px;
        font-weight: bold;
      }
      .new_user{
        height: 100%;
        width: 100%;
        .session_form__inner__email{
          margin-top: 10px;
          #user_email{
            @include form;
          }
        }
        .session_form__inner__password{
          margin-top: 10px;
          #user_password{
            @include form;
          }
        }
        .session_form__inner__remember{
          margin-top: 10px;
          #user_remember_me{
            height: 15px;
            width: 15px;
          }
        }
        .forget_password{
          margin-top: 30px;
          float: right;
          color: $main-color;
        }
        .session_form__inner__submit{
          @include form;
          height: 50px;
          width: 100%;
          margin-top: 30px;
          background-color: $main-color;
          color: $back-color;
          font-size: $head-font-size;
          font-weight: bold;
        }
      }
    }
  }
}
