.users_search{
  height: 60px;
  width: 30%;
  position: absolute;
  position: fixed;
  top: 120px;
  right: 42%;
  padding: 15px 1%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: $sub-color;   
  .user_search{
    height: 30px;
    width: 100%;
    margin: auto;
    display: flex;
    #q_name_cont{
      height: 100%;
      width: 100%;
      padding: 0 25px 0 5px; 
      box-sizing: border-box;
      font-size: $head-font-size;
      background-color: $off-color;
    }
    .search_btn{
      border: none;
      position: absolute;
      position: fixed;
      top: 143px;
      right: 43%;
    }
  }
}

.sign_up_btn{
  @include btn;
  position: absolute;
  top: 128px;
  right: 31%;
  position: fixed;
  a{
    color: $off-color;;
  }
}

.users_index_main{
  width: 100%;
  margin-top: 200px;
  .user{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: $main_rgba;
    &_box{
      width: 20%;
      margin-top: 20px;
      padding: 0 2%;
      box-sizing: border-box;
      &__name{
        color: rgba(74,74,74,0.8);
      }
      &__image{
        img{
          width: 100%;
          margin: auto;
        }
      }    
    }
  }
}

.sign_up_main{
  width: 80%;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: $main-rgba;
  margin: 120px auto 0 ;
  .new_user{
    width: 100%;
    display: flex;
    .image_field{
      width: 50%;
      padding-left: 10%;
      .image_area{
        height: 350px;
        width: 280px;
        margin-top: 25px;
        box-sizing: border-box;
        background-color: $off-color;
        text-align: center;
        img{
          width: 100%;
          max-height: 350px;
        }
        &__icon{
          font-size: 100px;
          margin-top: 150px;
        }
      }
      .image_form_input{
        margin-top: 3px;
        border: none;
        input{
          color: red;
        }
      }
      .attention{
        font-size: 13px;
        margin: 10px 0 0 5%;
      }
    }
    .other_field{
      height: 100%;
      width: 50%;
      padding-right: 5%;
      .field{
        margin-top: 20px;
        font-size: 15px;
        #user_name, #user_email, #user_password, #user_password_confirmation{
          @include form;
          font-size: $head-font-size;
          background-color: $off-color;
        }
        .attention{
          font-size: $base-font-size;
          margin-top: 10px;
        }      
      }
      .registration_btn{
        @include btn;
        width: 100px;
        margin-top: 20px;
        border: none;
        float: right;
      }
    }
  }
}

