@mixin form{
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding: 0 0 0 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

@mixin nav{
  height: 80px;
  width: 60%;
  position: absolute;
  position: fixed;
  top: 10px;
  right: 20%;
  background-color: $main-color;
  border-radius: 5px;
  z-index: 2;
  display: flex;
  color: $off-color;
  padding: 10px;
  box-sizing: border-box;
}

@mixin nav-menu{
  height: 40px;
  width: 33%;
  text-align: center;
  margin-top: 10px;
  &--jp{
    font-size: $head-font-size;
    color: $off-color;
  }
  &--en{
    font-size: $base-font-size;
    color: $off-color;
  }
}

@mixin btn{
  height: 40px;
  width: 8%;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  background-color: $main-color;
  color: $off-color;
  font-size: $head-font-size;
}

@mixin user_search_btn{
  border: none;
  position: absolute;
  position: fixed;
  top: 143px;
  right: 37%;
}

@mixin other_room_search_btn{
  border: none;
  position: absolute;
  position: fixed;
  top: 143px;
  right: 37%;
}


@mixin search_form{
  height: 60px;
  width: 30%;
  position: absolute;
  position: fixed;
  top: 120px;
  right: 35%;
  padding: 15px 1%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: $sub-color;   
  .user_search, .family_room_search, .care_home_post_search{
    height: 30px;
    width: 100%;
    margin: auto;
    display: flex;
    #q_name_cont, #q_user_name_cont, #q_user_care_home_posts_user_name_cont{
      height: 100%;
      width: 100%;
      padding: 0 25px 0 5px; 
      box-sizing: border-box;
      font-size: $head-font-size;
      background-color: $off-color;
    }
  }
}

@mixin search_index{
  width: 100%;
  margin-top: 200px;
  .user, .family_room{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: $main_rgba;
    &_box{
      width: 20%;
      margin-top: 20px;
      padding: 0 2%;
      box-sizing: border-box;
      &__name{
        color: rgba(74,74,74,0.8);
      }
      &__image{
        img{
          width: 100%;
          margin: auto;
        }
      }    
    }
  }
}
